.container{
    box-sizing: border-box;
    height:100vh;
    padding:1rem;
}

.containerStyle{
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.75) 10px 10px 5px 0px;
    background-color: #6666;
    position: relative;
}

.imageStyle{
    height:200px;
    width:200px;
    padding:0.5rem;
    background-color: #045343;
    border-radius: 40%;
}

.buttonStyle{
    background-color: #045343;
}